<article class="list__item post clearfix">
	{{- if .Params.thumbnail }}
	<figure class="list__thumbnail">
		<a href="{{ .Permalink }}">
			<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" />
		</a>
	</figure>
	{{- end }}
	<div class="list__content clearfix">
		<header class="list__header">
			<h3 class="list__title post__title ">
				<a href="{{ .RelPermalink }}" rel="bookmark">{{ .Title }}</a>
			</h3>
			{{- if not .Date.IsZero }}
			<div class="list__meta meta">
                <svg class="icon icon-time" height="16" viewBox="0 0 24 24" width="16" fill="#000000" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
                </svg>
				<time class="list__meta-date" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{.Date.Format ( .Site.Params.dateformat | default "January 02, 2006")}}</time>
				{{- if ne .Date .Lastmod }}
                    <svg class="icon icon-time" height="16" viewBox="0 0 24 24" width="16" fill="#000000" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6 0 1.01-.25 1.97-.7 2.8l1.46 1.46C19.54 15.03 20 13.57 20 12c0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-1.01.25-1.97.7-2.8L5.24 7.74C4.46 8.97 4 10.43 4 12c0 4.42 3.58 8 8 8v3l4-4-4-4v3z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
					<time class="post__meta-lastmod" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05" }}">{{.Lastmod.Format ( .Site.Params.dateformat | default "January 02, 2006")}}</time>
				{{- end }}
			</div>
			{{- end }}
		</header>
		<div class="list__excerpt">
			{{ .Summary }}
		</div>
		{{- if .Site.Params.readmore }}
		{{- if .Truncated }}
		<div class="list__footer">
			<a class="list__footer-readmore btn" href="{{ .RelPermalink }}">Read more…</a>
		</div>
		{{- end }}
		{{- end }}
	</div>
</article>
